{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                    <br>

            <br>

                {% if page.has_previous %}
                    <a class="button button-primary" href="/books/{{ last_date }}">⟵{{ last_date }} </a>
                {% endif %}
                {% if page.has_next %}
                    <a class="button button-primary" href="/books/{{ next_date }}"> {{ next_date }}⟶</a>
                {% endif %}

        </div>
        </div>
    </div>
{% endblock %}